
@media screen and (max-width: 1420px) {
    .servicios{
        width: 90%
    }

    .portafolio{
        width: 90%;
    }

    .presentacion{
        width: 90%;
    }

    .contenidoPortada{
        width: 90%;
    }

    .contenidoPortada p, .contenidoPortada h1{
        max-width: 80%;
    }

    .contenidoContacto{
        width: 100%;
        transform: translateX(0);
    }

    .formularioContacto{
        width: 50%;
        transform: translateX(-20%);
    }

    .formularioContacto:hover{
        transform: translateX(-21%);
    }

    .contacto{
        transform: translate(8%);
    }

    .contacto:hover{
        transform: translate(7%);
    }

    .contenidoPortafolio{
        height: 400px;
    }

    .servicio{
        height: 350px;
    }
}

@media screen and (max-width: 1020px) {

    .contenidoPortafolio div{
        width: 50%;
    }
    
    .contenidoPortafolio :nth-child(2){
        width: 45%;
    }
    
    .contenidoPortafolio :nth-child(3){
        width: 45%;
    }

    .contenidoContacto{
        width: 90%;
        flex-direction: column;
        transform: translateX(0);
    }

    .contacto{
        transform: translate(0);
        width: 90%;
        padding: 5%;
        padding-bottom: 200px;
        align-items: center;
        text-align: center;
    }

    .contacto:hover{
        transform: scale(1.02);
    }

    .formularioContacto{
        width: 60%;
        transform: translateX(0);
        transform: translateY(-180px);
        -webkit-box-shadow: 1px 5px 11px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 5px 11px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 5px 11px 0px rgba(0,0,0,0.75);
    }

    .formularioContacto:hover{
        transform: translateY(-250px);
    }

    .servicios p{
        max-width: 80%;
    }
}

@media screen and (max-width: 820px) {

    .servicio{
        width: 100%;
        margin: 40px auto 0px;
    }

    .servicios p{
        max-width: 90%;
    }

    .contenidoNav{
        justify-content: center;
    }

    .logo{
        display: none;
    }

    .menu nav ul{
        padding-inline-start: 0px;
    }
    
    .menu nav ul li a{
        font-size: 0;
    }

    .menu nav ul li a img{
        display: flex;
    }

    .portafolio{
        margin: 100px auto;
    }

    .contenedorCategorias{
        margin-bottom: 0px;
    }

    .contenidoPortafolio{
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
    }

    .contenidoPortafolio :nth-child(1), 
    .contenidoPortafolio :nth-child(2),    
    .contenidoPortafolio :nth-child(3){
        width: 100%;
        height: 400px;
        margin-top: 20px;
    }

    .contenedorCategorias label{
        padding: 15px 10px;
    }

}